*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
/editor/composeResources/ filter=lfs diff=lfs merge=lfs -text
/editor/*.js filter=lfs diff=lfs merge=lfs -text
/editor/*.mjs filter=lfs diff=lfs merge=lfs -text
/editor/*.js.map filter=lfs diff=lfs merge=lfs -text
/editor/*.wasm filter=lfs diff=lfs merge=lfs -text
